div.edit-photo-div {
    padding-top: 1rem;
    display: block;
    text-align: center;
}

Form.edit-photo-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}