div.posts {
    margin: 10px 30px;
    padding: 30px;
    min-width: 300px;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: stretch;
}

div.no-photos p {
    color: white;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}