div.posts {
    margin: 50px auto;
    max-width: 1200px;
    min-width: 600px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 30px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2%;
    margin-bottom: 100px;
    align-items: center;
}