div.details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px auto;
    max-width: 95%;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 30px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2%;
    margin-bottom: 100px;
}

div.photo-details {
    left: 0;
    height: auto;
    width: 48%;
}

div.photo-details ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 30px;
}

div.photo-details li {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

div.photo-details li span {
    color: black;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

div.buttons {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

div.owner,
div.user,
div.likes {
    display: flex;
}

div.owner a,
div.user a,
div.user span,
div.likes span {
    background-color: #3ea9b194;
    border: 1px solid rgba(255, 255, 255, 0.699);
    color: white;
    padding: 15px 25px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
}

div.photo-image {
    right: 0;
    width: 48%;;
    height: auto;
}

div.photo-image img {
    width: 100%;
    border-radius: 5%;
    vertical-align: top;
}

@media screen and (max-width: 1200px) {
    div.photo-details li, 
    div.photo-details li span
    {
        font-size: 20px;
    }

    div.owner a,
    div.user a,
    div.user span,
    div.likes span {
        font-size: 16px;
        padding: 12px 25px;
    }
}

@media screen and (max-width: 850px) {
    div.details {
        flex-direction: column;
    }

    div.photo-details, 
    div.photo-image,
    div.buttons {
        width: 100%;
    }

    div.photo-image {
        order: -1;
    }
}