/* html {
    font-family: 'Lato', sans-serif;
    background-color: #2A4455;
} */

.app-main {
    font-family: 'Lato', sans-serif;
    background-color: #3EA9B1;
    flex-grow: 1;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: white;
    text-align: center;
    font-size: 30.5px;
    position: fixed;
}

.label-style {
    color: white;
    font-size: 20px;
}