div.profile-info {
    display: flex;
    margin: 20px auto;
}

div.profile-photo {
    margin: 20px;
}

div.profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

div.user-info {
    margin-top: 80px;
}

div.user-info p {
    font-size: 50px;
    color: white;
}

div.my-photos {
    margin: 10px auto;
    padding: 30px;
    min-width: 300px;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    align-items: stretch;
    box-sizing: border-box;
}

div.info {
    display: flex;
}

div.no-photos p {
    color: white;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

@media screen and (max-width: 1800px) {
    div.my-photos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    div.my-photos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    div.my-photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    div.my-photos {
        grid-template-columns: 1fr;
    }
}