div.profile-info {
    display: flex;
    margin: 20px auto;
}

div.profile-photo {
    margin: 20px;
}

div.profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div.user-info {
    margin-top: 80px;
}

div.user-info p {
    font-size: 50px;
}

div.my-photos {
    margin: 10px 30px;
    padding: auto 50px;
    min-width: 600px;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap
}

div.info {
    display: flex;
}