div.my-photo-card {
    background-color: rgba(255, 255, 255, 0.322);
    padding: 20px;
    margin: auto 20px;
    width: 100%;
    height: 100%;
    min-width: 300px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.my-photo-card .image {
    /* border-radius: 10%; */
    /* flex-grow: 1; */
    overflow: hidden;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.836);
}

div.my-photo-card img {
    /* border-radius: 10%; */
    width: 100%;
    padding: 5px;
    object-fit: cover;
}

div.my-photo-card h3 {
    margin: 16px auto;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

div.my-photo-card a {
    display: block;
    margin: 16px auto;
    background-color: #3ea9b194;
    border: 1px solid rgba(255, 255, 255, 0.548);
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
}

div.image {
    text-align: center;
}

.button-details {
    margin-bottom: 0;
}