.nav-link {
    font-size: 1.7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: #DB6595
}

.navbar-container {
    width: 100%;
    display: flex;
}

.navigation {
   margin-left: auto;
}

img.blog-logo {
    margin-left: 20px;
}