div.aboutBlog,
div.aboutUs {
    z-index: 1;
    min-width: 300px;
    margin: 100px auto;
}

#about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.centerInfo {
    text-align: center;
    margin: auto;
}

.centerInfo img {
    width: 150px;
    border-radius: 50%;
}

div.aboutBlog h1#about-blog-header,
div.aboutUs h1#about-us-header {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: white;
}

div.centerInfo h2 {
    font-size: 35px;
    text-align: center;
    margin: 20px 0px;
    color: white;
}

div.centerInfo p {
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: 30px;
    color: white;
}