div.login-div {
    padding-top: 1rem;
    display: block;
    text-align: center;
}

Form.login-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}